{% extends 'base.html.twig' %}

{% block title %}Cloture {% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{cloture.nom}}  </h1>
        <p class="lead">Références : {{ cloture.reference }}</p>
        <img src="{{ asset(cloture.image) }}" alt="image">
        <br><br>
        <p>{{ cloture.description | raw }}</p>
        <a href="/catalogue"><button type="button" class="btn btn-primary btn-sm">Retour</button></a>
        <a href="/tendance"><button type="button" class="btn btn-primary btn-sm">Tendance</button></a>
    </div>
</div>

{% endblock %}