{% extends 'base.html.twig' %}

{% block title %}Clôture {% endblock %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-3">Venez consulter notre liste de clôtures </h1> <br>
    <p class="lead">Achetez la votre !</p>
    <hr class="my-4">
    <div style="text-align: center;">
        <h3>Retrouvez ici une large gamme de clôtures</h3> <br> <br>
        <a class="btn btn-primary btn-lg" href="/catalogue" role="button">Catalogue</a>
        &nbsp &nbsp
        <a class="btn btn-primary btn-lg" href="/tendance" role="button">Tendance</a>
    </div>
</div>

{% endblock %}
